<div class="about mt-4 pt-4" style="height: 100vh;">
  <h1 class="text-center" style="padding: 60px 0px 0px 0px;">About Me</h1>
  <div class="row mt-4" style="text-align: center;">
    <div class="col-lg-4">
      <img src="/public/assets/ujjwal-picture.jpg" alt="">
    </div>

    <div class="col-lg-8" style="text-align: left;">
      <p style="color: #FFFFFF; padding: 32px 0px;"> I'm Ujjwal Poudel, a passionate ASP.NET backend developer with a strong penchant for creating robust and
        scalable web applications. Since the beginning of my career, I've been fascinated by the world of server-side
        development and have dedicated myself to mastering the intricacies of ASP.NET.
      </p>

      <div class="row mt-3">
        <p style="color: #FFFFFF; padding: 14px;"> In my journey as a backend developer, I have honed my skills in ASP.NET, C#, and SQL to build efficient and
          secure backend systems. Whether it's architecting databases, designing APIs, or optimizing server performance,
          I thrive on tackling complex challenges and delivering elegant solutions.
        </p>
        </p>
      </div>
    </div>
  </div>
  </section>