<nav class="navbar">
    <div class="navbar-logo">
        <h1>Ujjwal</h1>
    </div>

    <ul class="navbar-nav" style="display: flex; flex-direction: row;">
        <li class="nav-item"><a href="#home-page">Home</a></li>
        <li class="nav-item"><a href="#about-page">About</a></li>
        <li class="nav-item"><a href="#skills-page">Services</a></li>
        <li class="nav-item"><a href="#projects-page">Projects</a></li>
        <li class="nav-item"><a href="#contact-page">Contact</a></li>
    </ul>
</nav>