<nav class="navbar">
    <div class="navbar-logo">
        <h1>Ujjwal</h1>
    </div>

    <ul class="navbar-nav">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">Skills</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</nav>