<div class="projects-page" style="display: flex; flex-direction: column; height: 100vh;">
    <h1 class="text-center" style="padding: 20px 0px 0px 0px;">Projects</h1>

    <div class="wordcloud-generator" style="text-align: center; color: #FFFFFF;padding: 20px 0px;
    display: flex; flex-direction: row;">
        <img src="/public/assets/img/wordcloudgenerator.png" class="col-lg-4"/>
        <div style=" padding: 0px 0px 0px 40px;">
            <h2 style="font-size: 22px; padding: 0px 0px 15px 0px; text-align: left;">Word Cloud Generator</h2>
            <p style="text-align: left; max-width: 100%; font-size: 19px;">
                Introducing my very own Word Cloud Generator,
                where text comes alive as mesmerizing visual art.
                And, just for you, a delightful surprise awaits
                with the Joke Popper, delivering spontaneous
                laughter to your screen. Elevate your project
                section into a realm of creativity and humor,
                 all in one convenient place, because it's not
                  just a project; it's your very own playground
                   of words and laughter.</p>
        </div>
    </div>

    <div class="wordcloud-generator" style="text-align: center; color: #FFFFFF;padding: 50px 0px;
    display: flex; flex-direction: row;">
        <img src="/public/assets/img/personal-portfolio.png" class="col-lg-4" style="object-fit: cover;"/>
        <div style=" padding: 0px 0px 0px 40px;">
            <h2 style="font-size: 22px; padding: 0px 0px 15px 0px; text-align: left;">Personal Portfolio</h2>
            <p style="text-align: left; max-width: 100%; font-size: 19px;">
                Introducing my very own Word Cloud Generator,
                where text comes alive as mesmerizing visual art.
                And, just for you, a delightful surprise awaits
                with the Joke Popper, delivering spontaneous
                laughter to your screen. Elevate your project
                section into a realm of creativity and humor,
                 all in one convenient place, because it's not
                  just a project; it's your very own playground
                   of words and laughter.</p>
        </div>
    </div>
</div>