<section class="skills">
    <div class="skills-info">
        <p>information on skills goes here</p>
    </div>

    <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>