<div style="padding: 0px 0px 60px 0px;">
    <h1 class="text-center">Services</h1>
    <div class="row">
        <div class="col-lg-4 mt-4">  
            <div class="card servicesText">
                <div class="card-body">
                    <i class="fas servicesIcon fa-clock"></i>
                    <h4 class="card-title mt-3">Website Development</h4>
                    <p class="card-text mt-3">I create stunning, user-friendly websites that reflect your unique
                        personality and goals.
                        Our designs are not just visually appealing but also optimized for performance and
                        responsiveness across all devices.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-4">
            <div class="card servicesText">
                <div class="card-body">
                    <i class='fas servicesIcon fa-layer-group'></i>
                    <h4 class="card-title mt-3">Custom Back End Development</h4>
                    <p class="card-text mt-3">Our back-end developers excel in crafting tailor-made, scalable, and
                        high-performance back-end solutions that perfectly align with your specific business
                        requirements.
                        We leverage the latest technologies and frameworks to ensure a seamless user experience.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-4">
            <div class="card servicesText">
                <div class="card-body">
                    <i class='far servicesIcon fa-check-circle'></i>
                    <h4 class="card-title mt-3">API Integration and Development:</h4>
                    <p class="card-text mt-3">Efficient communication between various systems is key to a successful
                        digital platform. Our back-end developers excel in creating and integrating APIs,
                        enabling seamless data exchange and interaction between your applications and external services.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 mt-4">
            <div class="card servicesText">
                <div class="card-body">
                    <i class='fas servicesIcon fa-search'></i>
                    <h4 class="card-title mt-3">Database Design and Optimization:</h4>
                    <p class="card-text mt-3">A robust database is the backbone of any application. Our experts design
                        and optimize databases to ensure efficient data storage, retrieval, and management.
                        We focus on performance, scalability, and security to keep your application running smoothly.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-4">
            <div class="card servicesText">
                <div class="card-body">
                    <i class='fas servicesIcon fa-shield-alt'></i>
                    <h4 class="card-title mt-3">DevOps</h4>
                    <p class="card-text mt-3">Our DevOps experts implement CI/CD pipelines to automate your software
                        delivery process.
                        This ensures rapid, reliable, and error-free deployments, reducing downtime and enhancing your
                        time-to-market.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-4">
            <div class="card servicesText">
                <div class="card-body">
                    <i class='fas servicesIcon fa-wrench'></i>
                    <h4 class="card-title mt-3"> Search Engine Optimization (SEO):</h4>
                    <p class="card-text mt-3">Enhance your website's visibility on search engines.
                        We optimize your content and structure to help you rank higher and attract more visitors.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>