/* Imports */
@import url('https://fonts.cdnfonts.com/css/sunday-gallery');
@import url('https://fonts.cdnfonts.com/css/manrope');

.navbar {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 32px 32px;
}

.navbar-logo {
    text-align: center;
    font-family: 'Sunday Gallery', sans-serif;
    font-size: 34px;
    font-style: normal;
}

.navbar-nav {
    display: flex;
    color: #FFFFFF;
    list-style: none;
}

.nav-item {
    margin: 0rem 0rem 0rem 3rem;
}

.nav-item > a {
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-language-override: 12px;
    font-style: normal;
    font-weight: 400;
}