<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/styles/header.css"/>
    <link rel = "stylesheet" href = "/styles/index.css"/>
    <link rel ="stylesheet" href="/app/styles/header.css" />
    <title>Ujjwal Poudel </title>
</head>
<body>
    <!-- <%- include('../views/partials/header.ejs') %>
    <main class="main">
        <h1>I'm Ujjwal Poudel</h1>
        <h4>Web developer, Software Engineer and AI enthusiast</h4>
    </main>

    <%- include('./partials/about.ejs/') %>
    <%- include('./partials/skills.ejs/') %>
    <%- include('./partials/projects.ejs/') %> -->
    <div class="main">
        <p style="background-color: aqua;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit placeat ducimus ipsam voluptatibus magnam obcaecati nulla consectetur, consequatur voluptate voluptatem, error laudantium excepturi, eos nisi dolorem modi accusantium praesentium aliquam.
        </p>
    </div>

    <p class = "navbar-nav">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio deserunt eius laboriosam nihil vitae facilis dolore, est quidem id non veritatis veniam excepturi, voluptatibus qui. Quae placeat perspiciatis nesciunt repudiandae.
    </p>
    
</body>
</html>